@media only screen and (max-width: 600px) {
  .d-sm {
    display: none;
  }

  .board {
    width: 7rem;
  }

  .board__container {
    justify-content: center;
  }
}

.flex__row--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5rem;
}

.opacity-1 {
  opacity: 1;
}

.sidebar {
  margin-top: 1.2rem;
  margin-left: 2rem;
  padding: 0.5rem;
  width: 14rem;
  min-width: 14rem;
  font-weight: bold;
  color: #ffffff;
}

.sidebar__teams {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  padding-left: 1rem;
  font-weight: normal;
  align-items: center;
}

.sidebar__workspace {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-1 {
  padding: 0.5rem 1rem;
}

.font--lg {
  font-size: 1.5rem;
}

.flex__row {
  display: flex;
}

.sidebar__bottom {
  padding-left: 1rem;
  margin: 1rem;
  font-weight: normal;
  font-size: 0.9rem;
}

.sidebar__card:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 4px;
}

.sidebar__card {
  margin: 0.5rem 0;
}
