body {
  font-family: 'Poppins';
  font-weight: bold;
  background-image: url(./background.png);
  background-blend-mode: color-dodge;
  background-color: #d23d3d;
  color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 90vh;
  padding: 0 5vw;
}

.left {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 1rem;
}

.left-top {
  font-size: 3rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 1rem;
  min-width: 300px;
}

.button {
  background: #1f9c77;
  border: 1px solid #198431;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0.75rem;
  margin: 0.75rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
}

.button:hover {
  box-shadow: 0 0 4px #198431;
}

.form-input {
  border: 1px solid #ac9595;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0.75rem;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
}

.right-bottom {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  flex-direction: column;
  padding: 0.5rem;
  max-width: 22rem;
  margin: 1rem auto;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 6px #eeeeee;
  border-radius: 4px;
}

.text-center {
  text-align: center;
}

.small {
  font-size: 0.5rem;
  margin: 0.5rem 1rem;
  color: #616161;
}

.highlight {
  color: #d23d3d;
  text-decoration: none;
}

.g-wrapper {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .left {
    text-align: center;
  }
  .left-top {
    font-size: 2rem;
  }

  .terms-and-conditions {
    font-size: 0.8rem;
  }

  .wrapper {
    padding: 0;
  }
}

.error {
  color: red;
  font-size: 0.5rem;
  text-align: end;
  margin: 0;
  padding: 0;
  margin-right: 1rem;
}

.custom-gplus-signin {
  width: 17rem;
  height: 2.1em;
  line-height: 2.1em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background: #4359cb;
  border-radius: 0.625em;
  margin: 0 auto;
}

.custom-gplus-signin > img {
  float: left;
  height: 2.1em;
  width: auto;
  border-radius: 0.625em 0px 0px 0.625em;
}

span.button-text {
  color: #ffffff;
  background: #4359cb;
  border-radius: 0.6px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
}
