.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  background-color: #fafafa;
  background-image: url('../assets/Ripple-1s-200px.svg');
  background-size: contain;
  height: 5rem;
  width: 5rem;
}

.custom-input {
  border: 1px solid #eeeeee;
  background-color: #bdbdbd;
  border-radius: 2px;
  font-family: 'ubuntu';
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.flex__row {
  display: flex;
}

.flex__row--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5rem;
}

.board__container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.board {
  background-color: #757575;
  position: relative;
  background-size: cover;
  width: 9rem;
  height: 4.5rem;
  border-radius: 2px;
  color: #fafafa;
  padding: 1rem;
  padding-right: 2rem;
  margin: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.margin--start {
  margin-left: 1rem;
}

.board-edit-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.board__link {
  color: #fafafa;
  text-decoration: none;
}

.board:hover {
  opacity: 0.8;
}

.text {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-button {
  position: absolute;
  right: 5px;
  top: 10px;
  border: none;
  background: transparent;
}

.close-button:hover {
  color: #bf360c;
}

.add-board__card {
  margin: 1rem;
  padding: 0.5rem;
}

.add-card__button {
  padding: 0.6rem;
  font-family: 'ubuntu';
  color: #fafafa;
  font-weight: bold;
  background-color: #43a047;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 4px #388e3c;
}

.cancel {
  border: none;
  font-family: 'ubuntu';
  font-weight: bold;
  color: #fafafa;
  background-color: #bf360c;
  padding: 0.6rem;
  margin: 0 0.5rem;
  border-radius: 2px;
  box-shadow: 0 0 4px #ff6e40;
}

.root__home {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  min-height: 100vh;
  padding-top: 2.5rem;
}
