<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="840915271216-j4v87icspvd2ql6gu6pdhjk0nmb2ibe1.apps.googleusercontent.com"
    />
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css" />
    <script src="helper/validation.js"></script>
  </head>
  <body>
    <section class="login-section">
      <div class="left">
        <h1 class="left-top">Learn to Code By Watching Others</h1>
        <p class="left-bottom">
          See How Experienced Developers solve Problems in real-time. Watching
          Scripted tutorials is great, but understanding how Developers think is
          invaluable
        </p>
      </div>
      <div class="right">
        <div class="right-top">
          <div id="my-signin2"></div>
        </div>

        <form class="right-bottom" id="claimTrialForm">
          <input
            type="text"
            placeholder="First Name"
            class="form-input"
            name="firstName"
          />
          <p class="highlight error" id="firstNameError"></p>
          <input
            type="text"
            placeholder="Last Name"
            class="form-input"
            name="lastName"
          />
          <p class="highlight error" id="lastNameError"></p>
          <input
            type="email"
            placeholder="Email Address"
            class="form-input"
            name="email"
          />
          <p class="highlight error" id="emailError"></p>
          <input
            type="password"
            placeholder="Password"
            class="form-input"
            name="password"
          />
          <p class="highlight error" id="passwordError"></p>
          <button class="form-button">Claim your free trial</button>
          <p class="form-terms">
            By Clicking on the button you re agreeing to
            <span class="highlight">terms and conditions</span>
          </p>
        </form>
      </div>
    </section>
    <script>
      function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName())
        window.location.href = '/dashboard'
      }
      function onFailure(error) {
        console.error(error)
      }
      function renderButton() {
        gapi.signin2.render('my-signin2', {
          scope: 'profile email',
          width: 300,
          height: 50,
          longtitle: true,
          theme: 'dark',
          onsuccess: onSuccess,
          onfailure: onFailure
        })
      }

      const buttonElement = document.querySelector('.form-button')

      buttonElement.addEventListener('click', validateForm)
    </script>
    <script
      src="https://apis.google.com/js/platform.js?onload=renderButton"
      async
      defer
    ></script>

    <!-- <script>
      startApp()
    </script> -->
  </body>
</html>
