<html>
<head>
   <meta name="google-signin-client_id" content="597757022807-nbeu9c4lajvbgoo83qpat1g3apg9nmp3.apps.googleusercontent.com">
   <style>
     div{
       text-align: center;
       font-size: 4em;
     }
     </style>
</head>
<body>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }

    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });

      
    }
  </script>
  <div>
  <a href="/logout" onclick="signOut();">Sign out</a>
  <div>

  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</body>