<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- font-poppins -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <script src="https://apis.google.com/js/api:client.js"></script>

    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <title>Document</title>

    <script>
      var startApp = function () {
        gapi.load('auth2', function () {
          auth2 = gapi.auth2.init({
            client_id:
              '597757022807-nbeu9c4lajvbgoo83qpat1g3apg9nmp3.apps.googleusercontent.com',
            cookiepolicy: 'single_host_origin',
            scope: 'profile email'
          })
          attachSignin(document.getElementById('app-googleSignIn-body'))
        })
      }

      function attachSignin(element) {
        auth2.attachClickHandler(
          element,
          {},
          function (googleUser) {
            var profile = googleUser.getBasicProfile()

            var id_token = googleUser.getAuthResponse().id_token
            console.log(id_token)

            var xhr = new XMLHttpRequest()
            xhr.open('POST', '/')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () {
              console.log('Signed in as: ' + xhr.responseText)
              if (xhr.responseText === 'success') {
                location.assign('/dashboard')
              }
            }
            xhr.send(JSON.stringify({ token: id_token }))
          },
          function (error) {
            // alert(JSON.stringify(error, undefined, 2))
          }
        )
      }
    </script>
  </head>
  <body>
    <div class="app">
      <script>
        startApp()
      </script>
      <div class="app-info">
        <p class="app-info-heading">Learn to code by watching others</p>
        <p class="app-info-data">
          See How Experienced Developers solve problem in real-time. Watching
          Scripted Tutorials is great, but understanding how developers think is
          invaluable
        </p>
      </div>
      <div class="app-form">
        <div class="app-googleSignIn">
          <div id="gSignInWrapper">
            <div id="app-googleSignIn-body" class="customGPlusSignIn">
              <div class="google-logo">
                <img src="../public/images/google.png" />
              </div>
              <div class="googleSignin">
                <p>Sign in With Google</p>
              </div>
            </div>
          </div>
        </div>
        <div class="app-form-email">
          <form class="form-email" autocomplete="off">
            <div class="inputs">
              <div class="inputs-info">
                <input
                  id="firstName"
                  type="text"
                  name="Firstname"
                  placeholder="First Name"
                  ,
                  autocomplete="off"
                />
                <div id="firstName-warning-logo" class="logo">
                  <p>!</p>
                </div>
              </div>
              <div class="inputs-warning">
                <p id="firstName-warning"></p>
              </div>
            </div>
            <div class="inputs">
              <div class="inputs-info">
                <input
                  id="lastName"
                  type="text"
                  name="Lastname"
                  placeholder="Last Name"
                  ,
                  autocomplete="off"
                />
                <div id="lastName-warning-logo" class="logo">
                  <p>!</p>
                </div>
              </div>
              <div class="inputs-warning">
                <p id="lastName-warning"></p>
              </div>
            </div>
            <div class="inputs">
              <div class="inputs-info">
                <input
                  id="email"
                  type="email"
                  placeholder="Email Address"
                  ,
                  autocomplete="off"
                />
                <div id="email-warning-logo" class="logo">
                  <p>!</p>
                </div>
              </div>
              <div class="inputs-warning">
                <p id="email-warning"></p>
              </div>
            </div>
            <div class="inputs">
              <div class="inputs-info">
                <input
                  id="password"
                  type="password"
                  placeholder="Password"
                  ,
                  autocomplete="off"
                />
                <div id="password-warning-logo" class="logo">
                  <p>!</p>
                </div>
              </div>
              <div class="inputs-warning">
                <p id="password-warning"></p>
              </div>
            </div>

            <button id="claimBtn" type="submit">Claim Your Free Trial</button>
            <p>
              By clicking on the button you are agreeing to
              <span class="lineBreaker"><Br /></span
              ><span class="highlight">Terms and conditions</span>
            </p>
          </form>
        </div>
      </div>
    </div>

    <script src="../public/js/validation.js"></script>
  </body>
</html>
