<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="./index.css" rel="stylesheet" />

    <meta name="google-signin-client_id" content="133019296799-b98ud4v50cg0tb626is7m7u4vrtd78m6.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <link href="./index.css" rel="stylesheet" />
    <script>
        var googleUser = {}
        var startApp = function () {
          gapi.load('auth2', function () {
            auth2 = gapi.auth2.init({
              client_id:
                '411088169197-5sivagkb1o1dn3o907nge6biknholgst.apps.googleusercontent.com',
              cookiepolicy: 'single_host_origin'
            })
            attachSignin(document.getElementById('customBtn'))
          })
        }
  
        function attachSignin(element) {
          auth2.attachClickHandler(
            element,
            {},
            async function (googleUser) {
              const id_token = googleUser.getAuthResponse().id_token
              const resp = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ token: id_token }),
                headers: {
                  'Content-type': 'application/json; charset=UTF-8'
                }
              })
              if (resp.status === 200) {
                signOut()
                location.assign('./signOut')
              }
            },
            function (error) {
              console.error(error)
            }
          )
        }
    </script>
  
    <title>Google SignUp</title>
</head>
<body>
    <section class ='wrapper'>
        
        <div class='left'>
            <h1 class ='left-top'>Learn to Code by watching Others</h1>
            <p>See How Experienced Developers solve Problems in real-time. Watching
                Scripted tutorials is great, but understanding how Developers think
                is invaluable.</p>
        </p>
        </div>

        <div class = 'right'>
            <div class="right-top">
                <div id="customBtn" class="custom-gplus-signin">
                  <img src="google-logo.png" />
                  <span class="button-text">Sign in With Google</span>
                </div>
                <div id="name"></div>
                    <script>
                    startApp()
                    </script>
            </div>
            <form class='right-bottom text-center' id='form'>
                <input
                type='text'
                placeholder='First Name'
                class='form-input'
                id='firstName'
                />
                <p class='error' id = 'firstNameError'></p>

                <input
                type='text'
                placeholder='Last Name'
                class='form-input'
                id='lastName'
                />
                <p class='error' id = 'lastNameError'></p>
                
                <input
                type='email'
                placeholder='Email Address'
                class='form-input'
                id='email'
                />
                <p class='error' id = 'emailError'></p>
                
                <input
                type='password'
                placeholder='Password'
                class='form-input'
                id='password'
                />
                <p class='error' id = 'passwordError'></p>
                <button type="submit" class="button" id="button">Claim your free trial</button>
                <p class="terms-and-conditions">
                    By Clicking on the button you re agreeing to
                    <span class="highlight">terms and conditions</span>
                </p>
            </form>
        </div>
    </section>
    
    <script>

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance()
        auth2.signOut().then(function () {
          console.log('User signed out.')
        })
      }


      const buttonElement = document.querySelector('.button')
      
      const validate = (e) => {
        e.preventDefault()
        const formEl = document.forms.claimTrialForm
        const firstName = document.getElementById('firstName').value
        const lastName = document.getElementById('lastName').value
        const email = document.getElementById('email').value
        const pass = document.getElementById('password').value

        const firstNameErrorElement = document.querySelector('#firstNameError')
        const lastNameErrorElement = document.querySelector('#lastNameError')
        const emailErrorElement = document.querySelector('#emailError')
        const passwordErrorElement = document.querySelector('#passwordError')

        firstName.length === 0
            ? (firstNameErrorElement.innerText = 'First Name cant be empty')
            : (firstNameErrorElement.innerText = '')
        
        lastName.length === 0
            ? (lastNameErrorElement.innerText = 'Last Name cant be empty')
            : (lastNameErrorElement.innerText = '')        
        
        
        const emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        
        if (email.length === 0) {
          emailErrorElement.innerText = 'Email cant be empty'
        } else if (!emailRegex.test(email.toLowerCase())) {
          emailErrorElement.innerText = 'Looks like this is not an email'
        } else {
          emailErrorElement.innerText = ''
        }

        pass.length === 0
          ? (passwordErrorElement.innerText = 'Password cant be empty')
          : (passwordErrorElement.innerText = '')
      }
      
      buttonElement.addEventListener('click', validate)

    </script>
    
</body>
</html>