<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample Page for signOut</title>
  </head>
  <body>
    <button onclick="signOut()">signOut</button>
    <script>
      async function signOut() {
        await fetch('/logout')
        window.location.assign('/')
      }
    </script>
  </body>
</html>
