.card {
  width: 95%;
  margin: 0.3em;
  padding: 0.9em;
  background-color: #fff;
  border-radius: 0.2em;
  position: relative;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  word-break: break-all;
  word-break: break-word;
}

.card-edit-input {
  width: 100%;
  margin-bottom: 0.6em;
}

.card:hover .card-actions {
  visibility: visible;
}

.card-actions {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.card-edit-btn,
.card-delete-btn {
  color: #888;
  padding: 0.1em 0.2em;
}

.card-edit-btn:hover {
  background-color: #ccc;
  color: #555;
}

.card-delete-btn:hover {
  background-color: rgb(255, 96, 96);
  color: #fff;
}

.card-delete-btn {
  color: #888;
}
