.board-section {
  overflow: hidden;
  background-color: #0079bf;
}
.lists-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  min-height: 85vh;
  padding: 0 1em;
}

.board-name {
  width: 100%;
  background-color: transparent;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
}

.board-name > div {
  padding: 0.5em 1.5em;
  background-color: hsla(0, 0%, 100%, 0.24);
  max-width: 15em;
  border-radius: 0.2em;
}

.board-name > div:hover {
  background-color: hsla(0, 0%, 100%, 0.34);
}

.list {
  margin: 0.2em 0.4em;
  background-color: #ebecf0;
  height: fit-content;
  max-height: 82vh;
  overflow-y: hidden;
  overflow-x: visible;
  min-width: 17em;
  position: relative;
  border-radius: 0.2em;
  width: 17em;
}

.list-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.list-name-input {
  width: 70%;
}

.list-header > svg {
  margin: 0.4em;
  font-size: 1.3em;
  cursor: pointer;
}

.list-header > svg:hover {
  color: red;
}
.list-header-heading {
  position: sticky;
  top: 0;
  width: 80%;
  background-color: #ebecf0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.all-list-cards {
  overflow-y: auto;
  max-height: 58vh;
}

.add-list {
  margin-right: 1em;
  width: 17em;
  padding: 0.5em;
}

.add-list > .list-header-heading {
  width: 100%;
  min-height: 2em;
  padding: 0;
  color: #333;
  cursor: default;
}

.add-list > .list-header-heading > .add-list-btn {
  width: 100%;
  padding: 0.5em;
  cursor: pointer;
}

.add-list > .list-header-heading > .add-list-btn:hover {
  background-color: #d9dce2;
  cursor: pointer;
}

.add-list-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.3em;
}

.add-list-actions > button {
  margin: 0.3em;
  padding: 0.4em 0.7em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

.create-list-btn {
  background-color: #5aac44;
  color: #fff;
}

.create-list-btn:hover {
  background-color: #61bd4f;
}

.close-create-list-btn {
  background-color: #fff;
  color: #666;
}

.close-create-list-btn:hover {
  background-color: #ccc;
  color: #fff;
}

.add-card {
  position: sticky;
  bottom: 0;
  padding: 0.4em;
  background-color: #ebecf0;
  color: #444;
  margin: 0.5em;
  cursor: pointer;
}

.add-card:hover {
  background-color: #d9dce2;
}

.add-card-input-wrapper {
  padding: 0.4em;
}
