body {
  font-family: 'Poppins';
  font-weight: bold;
  background-image: url(./background.png);
  background-blend-mode: color-dodge;
  background-color: #d23d3d;
  color: #ffffff;
}

.display-4 {
  font-size: 3rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 90vh;
  padding: 0 5vw;
}

.box-1 {
  display: flex;
  min-width: 300px;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 1rem;
}

.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 1rem;
  min-width: 300px;
}

.btn-signup {
  background: #1f9c77;
  border: 1px solid #198431;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0.75rem;
  margin: 0.75rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
}

.btn-signup:hover {
  box-shadow: 0 0 4px #198431;
}

.custom-input {
  border: 1px solid #ac9595;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0.75rem;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
}

.card {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  flex-direction: column;
  padding: 0.5rem;
  max-width: 22rem;
  margin: 1rem auto;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 6px #eeeeee;
  border-radius: 4px;
}

.text-center {
  text-align: center;
}

.small {
  font-size: 0.5rem;
  margin: 0.5rem 1rem;
  color: #616161;
}

.red {
  color: #d23d3d;
  text-decoration: none;
}

.g-wrapper {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .box-1 {
    text-align: center;
  }
  .display-4 {
    font-size: 2rem;
  }

  .small {
    font-size: 0.8rem;
  }

  .wrapper {
    padding: 0;
  }
}

.error {
  color: red;
  font-size: 0.5rem;
  text-align: end;
  margin: 0;
  padding: 0;
  margin-right: 1rem;
}

.customGPlusSignIn {
  width: 17rem;
  height: 2.1em;
  line-height: 2.1em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background: #4359cb;
  border-radius: 0.625em;
}
.customGPlusSignIn > img {
  float: left;
  height: 2.1em;
  width: auto;
  border-radius: 0.625em 0px 0px 0.625em;
}

span.buttonText {
  color: #ffffff;
  background: #4359cb;
  border-radius: 0.6px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
}
