body {
  margin: 0;
  padding: 5rem 1rem;
  font-family: 'Poppins', sans-serif;
  color: hsl(249, 10%, 26%);
  background-color: hsl(0, 100%, 74%);
  background-image: url(../images/bg-intro-mobile.png);
  background-repeat: repeat-x;
  text-align: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center;
}

header {
  color: white;
  font-weight: 500;
  font-size: 01rem;
  max-width: 20rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  justify-items: center;
}

.head-head {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  max-width: 15rem;
}

main {
  display: grid;
  width: 19rem;
  justify-content: center;
}

button {
  padding: auto;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
}

.content-try {
  margin: 0 4rem;
  width: inherit;
  align-self: center;
  background-color: hsl(248, 32%, 49%);
  /*border-bottom: 4px solid hsla(0, 0%, 0%, 0.3);*/
  margin-bottom: 1rem;
}

.price {
  font-size: 0.8rem;
  font-weight: 400;
}

form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  width: inherit;
  justify-items: center;
}

.input-block {
  width: 90%;
  margin-top: 1.3rem;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.input {
  box-sizing: border-box;
  padding: 0 1rem;
  height: 2.5rem;
  width: 98%;
  font-size: 0.8rem;
  font-weight: 500;
  border-width: 0.1em;
  border-radius: 5px;
  border-color: hsla(249, 10%, 26%, 0.3);
}

.input-error {
  border-color: hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
}

.input::placeholder {
  font-weight: 500;
  font-family: inherit;
}

.input:focus {
  color: black;
}

.error {
  display: none;
  position: absolute;
  color: hsl(0, 100%, 74%);
  font-size: 0.6rem;
  font-weight: 600;
  width: 18rem;
  font-style: italic;
  text-align: right;
  margin-top: 2.5rem;
}

.error-icon {
  display: none;
  position: absolute;
  margin-left: 240px;
  margin-top: 10px;
  height: 18px;
}

.error-show {
  display: block;
}

.claim {
  background-color: hsl(154, 59%, 51%);
  width: 90%;
  margin: 1rem auto;
  -moz-box-shadow: 0px 0px 10px 3px hsl(0, 0%, 88%);
  -webkit-box-shadow: 0px 0px 10px 3px hsl(0, 0%, 88%);
  box-shadow: 0px 10 5px -2px hsl(0, 0%, 88%);
}

.claim:hover {
  background-color: hsl(154, 59%, 61%);
  cursor: pointer;
}

.info {
  padding: 0 1.1rem;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.tandc {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

@media only screen and (min-width: 900px) {
  body {
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    grid-gap: 5rem;
  }

  header {
    text-align: left;
    justify-items: start;
    max-width: 26rem;
  }

  main {
    width: 24rem;
  }

  .error {
    width: 20rem;
  }

  .error-icon {
    margin-left: 300px;
  }

  .head-head {
    font-size: 2.3rem;
    max-width: 20rem;
  }
}
