.dashboard {
  width: 100%;
  padding: 1em;
}

.dashboard > h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 2em 0;
}

.board {
  width: 14em;
  height: 8em;
  padding: 1em;
  box-shadow: 1px 1px 2px -1px #ddd;
  font-size: 0.8em;
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  border-radius: 0.3em;
  margin: 1em;
  position: relative;
  cursor: pointer;
}

.board:hover {
  opacity: 0.9;
}

.board > svg {
  color: #fff;
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;
  font-size: 2em;
  cursor: pointer;
  visibility: hidden;
}

.board:hover > svg {
  visibility: visible;
}

.board > svg:hover {
  color: #ff2200;
}

.new-board {
  background: #f0f2f4;
  text-align: center;
  line-height: 6em;
  cursor: pointer;
}

.add-board-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.add-board-modal {
  width: 20em;
  height: 10em;
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.add-board-modal > input {
  width: 100%;
  background-color: #e9e7e5;
  border: none;
  padding: 0.5em;
}

.add-board-modal > input:not(:placeholder-shown) + .create-board-btn {
  background-color: #5aac44;
  color: #fff;
}

.create-board-btn,
.close-modal-btn {
  width: 45%;
  padding: 0.5em;
  margin: 0.9em;
  border: none;
  border-radius: 0.3em;
}

.create-board-btn {
  margin-left: 0;
  background-color: #fff;
}

.close-modal-btn {
  margin-right: 0;
  background-color: #cf513d;
  color: #fff;
}
