<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="./index.css" rel="stylesheet" />
    <meta
      name="google-signin-client_id"
      content="411088169197-5sivagkb1o1dn3o907nge6biknholgst.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script>
      var googleUser = {}
      var startApp = function () {
        gapi.load('auth2', function () {
          auth2 = gapi.auth2.init({
            client_id:
              '411088169197-5sivagkb1o1dn3o907nge6biknholgst.apps.googleusercontent.com',
            cookiepolicy: 'single_host_origin'
          })
          attachSignin(document.getElementById('customBtn'))
        })
      }

      function attachSignin(element) {
        auth2.attachClickHandler(
          element,
          {},
          async function (googleUser) {
            const id_token = googleUser.getAuthResponse().id_token
            const resp = await fetch('/login', {
              method: 'POST',
              body: JSON.stringify({ token: id_token }),
              headers: {
                'Content-type': 'application/json; charset=UTF-8'
              }
            })
            if (resp.status === 200) {
              signOut()
              location.assign('./task3')
            }
          },
          function (error) {
            console.error(error)
          }
        )
      }
    </script>
    <title>SignUp Page</title>
  </head>
  <body>
    <div class="wrapper">
      <section class="box-1">
        <article>
          <h1 class="display-4">Learn to Code by watching Others</h1>
          <p>
            See How Experienced Developers solve Problems in real-time. Watching
            Scripted tutorials is great, but understanding how Developers think
            is invaluable.
          </p>
        </article>
      </section>
      <div class="box-2">
        <section>
          <div class="g-wrapper">
            <div id="customBtn" class="customGPlusSignIn">
              <img src="google-logo.png" />
              <span class="buttonText">Sign in With Google</span>
            </div>

            <div id="name"></div>
            <script>
              startApp()
            </script>
          </div>
          <form class="card text-center">
            <input
              type="text"
              id="first-name"
              class="custom-input"
              placeholder="First Name"
            />
            <p class="error" id="first-name-error"></p>
            <input
              type="text"
              id="last-name"
              class="custom-input"
              placeholder="Last Name"
            />
            <p class="error" id="last-name-error"></p>
            <input
              type="text"
              class="custom-input"
              placeholder="Email Address"
              id="email"
            />
            <p class="error" id="email-error"></p>
            <input
              type="text"
              class="custom-input"
              placeholder="Password"
              id="password"
            />
            <p class="error" id="password-error"></p>
            <button type="submit" id="btn-signup" class="btn-signup">
              Claim Your Free Trial
            </button>
            <p class="small">
              By Clicking on the button you re agreeing to
              <a class="red">terms and conditions </a>
            </p>
          </form>
        </section>
      </div>
    </div>
    <script>

      function signOut() {
        const auth2 = gapi.auth2.getAuthInstance()
        auth2.signOut().then(function () {
          console.log('User signed out.')
        })
      }

      function validate(e) {
        e.preventDefault()
        // getting values from the form
        const fname = document.getElementById('first-name').value
        const lname = document.getElementById('last-name').value
        const email = document.getElementById('email').value
        const pword = document.getElementById('password').value

        // getting the error elements
        const firstNameErrorElement = document.querySelector(
          '#first-name-error'
        )
        const lastNameErrorElement = document.querySelector('#last-name-error')
        const emailErrorElement = document.querySelector('#email-error')
        const passwordErrorElement = document.querySelector('#password-error')

        // validating and filling error elements
        fname.length === 0
          ? (firstNameErrorElement.innerText = 'First Name cant be empty')
          : (firstNameErrorElement.innerText = '')

        lname.length === 0
          ? (lastNameErrorElement.innerText = 'Last Name cant be empty')
          : (lastNameErrorElement.innerText = '')

        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        if (email.length === 0) {
          emailErrorElement.innerText = 'Email cant be empty'
        } else if (!re.test(email.toLowerCase())) {
          emailErrorElement.innerText = 'Looks like this is not an email'
        } else {
          emailErrorElement.innerText = ''
        }

        pword.length === 0
          ? (passwordErrorElement.innerText = 'Password cant be empty')
          : (passwordErrorElement.innerText = '')
      }

      let signUp = document.getElementById('btn-signup')
      signUp.addEventListener('click', validate, false)
    </script>
  </body>
</html>
