body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: hsl(233, 13%, 49%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(240, 78%, 98%);
  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 70vh;
}

hr {
  border-width: 0;
  height: 1px;
  background-color: hsl(234, 14%, 74%);
}

button:hover {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
}

.title-select {
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: hsl(234, 14%, 74%);
  align-items: center;
}

.page-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.block {
  width: 15rem;
  height: 23rem;
  margin: 2rem 0rem;
  -moz-box-shadow: 0px 0px 10px 3px hsl(0, 0%, 88%);
  -webkit-box-shadow: 0px 0px 10px 3px hsl(0, 0%, 88%);
  box-shadow: 0px 0px 10px 3px hsl(0, 0%, 88%);
  border-radius: 10px 10px 10px 10px;
  padding: 2rem 2rem;
  background-color: white;
  position: relative;
}

.block-price {
  font-size: 3rem;
  color: hsl(232, 13%, 33%);
  margin: 2rem;
}

.block-content {
  margin: 1rem 0rem;
}

.block-more {
  height: 2.5rem;
  width: inherit;
  border: none;
  margin-top: 1rem;
  background: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: white;
}

.professional {
  background: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  z-index: 1;
}

.professional > hr {
  color: white;
  height: 1px;
}

.professional > .block-price {
  color: white;
}

.professional > .block-more {
  background: white;
  color: hsl(237, 63%, 64%);
}

.professional > hr {
  background-color: white;
}

#img-top {
  position: absolute;
  width: 20rem;
  height: auto;
  padding-left: 25rem;
  top: 0;
  right: 0%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.6rem;
  width: 1.6rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (min-width: 1000px) {
  .page-body {
    flex-direction: row;
  }

  .professional {
    height: 25rem;
  }

  body {
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: right top, left bottom;
    background-size: auto 70vh, auto 40vh;
  }
}
