* {
  margin: 0;
  padding: 0;
  outline: none;
}
.app {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  width: 100%;
  height: max-content;
  background: #d23d3d;
  background-image: url('../images/background.png');
  background-blend-mode: color-dodge;
  mix-blend-mode: normal;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
}
/* 
--------------------------------App Info Start --------------------------------
 */

.app-info {
  width: 100%;
  height: max-content;
  color: #ffffff;
  padding-top: 3.5em;
}

.app-info-heading {
  width: 95%;
  margin: auto;
  text-align: center;
  line-height: 1.5em;
  font-size: 2.5em;
  font-weight: bold;
}
.app-info-data {
  text-align: center;
  margin: auto;
  width: 93%;
  line-height: 150%;
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 1em;
  /* padding: 1em; */
}

/* 
--------------------------------App Info End --------------------------------
 */

/* 
--------------------------------App Form Start --------------------------------
 */

.app-form {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}
/* 
--------------------------------App Form  Google Start --------------------------------
 */
.app-googleSignIn {
  width: 100%;
  min-height: 6em;

  display: flex;
  align-items: center;
  justify-content: center;
}

#app-googleSignIn-body {
  width: max-content;
  padding-right: 2vw;
  background-color: #4359cb;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;

  align-items: center;
  margin: auto;
}

.google-logo {
  background-color: white;
  padding: 5px;
  margin-right: 8px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.google-logo > img {
  width: 35px;
  height: 35px;
}
.googleSignin p {
  color: #ffffff;
  font-weight: bold;
}

/* 
--------------------------------App Form  Google End--------------------------------
 */

/* 
--------------------------------App Form  Email Start--------------------------------
 */

.app-form-email {
  width: 95%;
  margin: auto;
}

.form-email {
  width: 95%;
  min-height: max-content;
  margin: auto;
  margin-bottom: 0.5em;
  padding: 1em 0em;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.inputs {
  width: 90%;

  display: flex;
  flex-direction: column;
}

.inputs-info {
  width: 100%;
  display: flex;
  border: 1px solid #ac9595;
  border-radius: 6px;
  box-shadow: 0.1px 0.1px #ac9595;
  flex-direction: row;
  align-items: center;
}
.inputs-info:hover {
  border-color: #000000;
}
.inputs-info input {
  flex-grow: 7;
  margin-left: 10px;
  font-size: 1em;
  font-weight: 600;
  border: none;
}

.logo {
  visibility: hidden;
  flex-grow: 2;
  margin: 10px;
  background-color: #ff7979;
  text-align: center;
  border-radius: 50%;
}
.logo p {
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
}
.inputs-warning {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.inputs-warning p {
  margin-left: auto;
  color: #d23d3d;
  font-style: italic;
  font-weight: bold;
  font-size: 0.8em;
}

.form-email > button {
  width: 90%;
  color: #ffffff;

  font-family: 'Poppins', sans-serif;
  border-radius: 6px;
  font-weight: 700;
  padding: 0.4em;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  background-color: #1f9c77;
}
.form-email > p:last-child {
  width: 90%;
  font-weight: bold;
  color: #929090;
  font-size: 0.8em;
  text-align: center;
}
.highlight {
  color: red;
  font-weight: bold;
  text-align: center;
}
/* 
--------------------------------App Form  Email End--------------------------------
 */

/* 
--------------------------------App Form End --------------------------------
 */

@media only screen and (min-width: 600px) {
  .app {
    flex-direction: row;
    height: 100%;
    align-items: center;
  }
  .app-info {
    padding-top: 0;
    padding-left: 2em;
  }
  .app-info-heading {
    font-size: 3em;
    text-align: left;
  }
  .app-info-data {
    font-size: 1.2em;
    text-align: left;
  }
  #app-googleSignIn-body {
    cursor: pointer;
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
  .inputs-info input {
    flex-grow: 9;
  }
  .logo {
    flex-grow: 1;
  }
}
@media screen and (min-device-width: 1201px) and (max-device-width: 1500px) {
  .inputs-info input {
    flex-grow: 11;
  }
  .logo {
    flex-grow: 1;
  }
}
