.head-card {
  padding-top: 45px;
  font-size: 15px;
  position: relative;
  margin-right: none;
  margin-bottom: 10px;
  width: 310px;
  height: 200px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 240px;
  height: 5px;
  border-radius: 5px;
  border-color: black;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-position-x: 245px;
  background-position-y: 10px;
  background-repeat: no-repeat;
  border-width: 0.25px;
  border-color: rgb(238, 233, 233);
  font-family: 'Poppins', sans-serif;
}

.fields > p {
  color: red;
  text-align: right;
  margin-top: 0;
}

.fields > img {
  position: absolute;
  margin-left: 25px;
  height: 200px;
}

.trail-card {
  background-color: hsl(263, 71%, 36%);
  padding-left: 0;
  padding-bottom: 33px;
  padding-right: 0;
  font-size: 15px;
  box-shadow: 0 4px 6px hsl(0, 1%, 28%);
  z-index: 2;
  position: relative;
  width: 320px;
  height: 30px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: var(--margin-bottom);
  padding-top: 4%;
  font-weight: 700;
  color: white;
}

.free-claim-card {
  background-color: hsl(154, 59%, 51%);
  padding-left: 0;
  padding-bottom: 10px;
  padding-right: 0;
  font-size: 15px;
  box-shadow: 0px 3px 0px hsl(154, 58%, 42%);
  z-index: 2;
  position: relative;
  width: 280px;
  height: 40px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 4%;
  border: none;
  color: rgb(255, 255, 255);
}

.form-card {
  background-color: #ffffff;
  padding: 20px;
  font-size: 15px;
  box-shadow: 0 4px 6px hsl(0, 1%, 28%);
  z-index: 2;
  position: relative;
  width: 280px;
  height: auto;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.trail-and-form {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  grid-gap: 100px;
  font-family: 'Poppins', sans-serif;
  font: normal 15px;
  background-image: url(images/bg-intro-mobile.png);
  background-repeat: repeat;
  background-color: hsl(0, 100%, 74%);
  background-size: auto 95vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

button:hover {
  background-color: hsl(154, 86%, 61%);
}

.no-error {
  display: none;
}

.error-display {
  color: red;
  border-color: red;
  background-image: url(images/icon-error.svg);
}

.error-message {
  display: block;
  font-size: 10px;
  font-style: italic;
  color: red;
}

@media only screen and (min-width: 1000px) {
  body {
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    margin-top: 130px;
    grid-gap: 70px;
  }

  .head-card {
    width: 400px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 50px;
  }

  .form-card {
    width: 400px;
    padding: 30px;
  }

  .input {
    width: 350px;
    background-position-x: 345px;
    margin-bottom: 15px;
  }

  .trail-card {
    width: 460px;
    padding-bottom: 10px;
  }

  .free-claim-card {
    padding-top: 10px;
    width: 390px;
  }

  .mobile-break {
    display: none;
  }
}
