.todo {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.todo form {
  width: 100%;
  max-width: 60rem;
  text-align: center;
}

.todo h1 {
  font-size: 26pt;
}

.todo input {
  margin: 0.5rem;
}

.todo input[type='text'] {
  width: 80%;
  max-width: 30rem;
  height: 1.5rem;
  font-size: 12pt;
}

.todo .task-text {
  padding-right: 0.5rem;
}

.todo .tasks {
  text-align: left;
  width: 100%;
  max-width: 30rem;
}

.todo li {
  padding-bottom: 0.5rem;
}

.todo .task {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.todo .task button {
  margin-right: 0.8rem;
}
