.todo-input {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}
.final-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items p input[type='text'] {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  text-shadow: 0.05rem 0.05rem rgb(202, 126, 126);
  margin: 0.5rem;
  text-align: start;
}
.items-list {
  padding-left: 0;
  margin-left: 0;
}
.items {
  margin-top: 0.5rem;
  border: solid 0.3rem black;
  box-shadow: 0.125rem 0.125rem rgb(212, 96, 96);
  border-radius: 0.7rem;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
}
.submit-button {
  padding: 0.5rem;
  height: 0.7rem;
  border-radius: 0.3rem;
}
#heading {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  text-shadow: 0.125rem 0.125rem rgb(212, 96, 96);
}
.todo-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 0.4rem;
}
.delete-button {
  color: white;
  background-color: rgb(212, 96, 96);
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  border-radius: 0.7rem;
}

.items p input {
  background-color: transparent;
  border: 0;
}
.items p input:focus {
  outline: none;
}
