.App {
  font-family: sans-serif;
  text-align: center;
}

.clicker-parent {
  width: 300px;
  height: 300px;
  margin: 3rem auto;
}

.clicker-display {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  font-size: 5rem;
  color: grey;
  height: 200px;
}

.clicker-button-container {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.btn-plus {
  width: 100%;
  background-color: forestgreen;
  border: none;
}

.btn-refresh {
  width: 100%;
  background-color: goldenrod;
  border: none;
}

.btn-minus {
  width: 100%;
  background-color: crimson;
  border: none;
}
