body {
  margin: 0;
  font-family: Georgia, serif;
}
h1 {
  font-weight: 700;
  color: #384047;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 1.2em;
  margin-top: 0.2em;
}
a {
  font-size: 1em;
  color: #8a97a0;
  text-decoration: none;
}
a:hover {
  color: #4bc970;
}
header {
  margin-top: 0;
  background-color: lightgray;
  padding: 1.5em;
}
.login,
.register {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}
form {
  background-color: white;
  padding: 2em;
  padding-bottom: 3em;
  border-radius: 8px;
  width: 25em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
}

.form_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 2em;
}

.form_content-input {
  color: #384047;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  border-radius: 4px;
  padding: 1em;
  margin-top: 2em;
  width: 100%;
}
.form_content-input:focus {
  outline: none;
}
.form_content-btn {
  font-weight: 600;
  text-align: center;
  font-size: 19px;
  color: white;
  background-color: #4bc970;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.form_content-btn:hover {
  background-color: #3e8e41;
}

.form_content-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.or-option {
  font-size: 1em;
  color: #8a97a0;
  text-align: center;
}
span {
  font-size: small;
}

@media (min-width: 320px) and (max-width: 780px) {
  header {
    padding: 0.4em;
  }
  a {
    font-size: 0.75em;
  }
  h1 {
    font-weight: 700;
    margin-bottom: 0.2em;
  }
  .login,
  .register {
    padding: 2%;
  }
  form {
    padding: 1em;
    width: 15em;
  }
  .form_content {
    margin: 0.75em;
  }
  .form_content-input {
    padding: 0.5em;
  }
  .form_content-btn {
    font-weight: 600;
    font-size: 15px;
    border-radius: 3px;
    padding: 0.5em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  .or-option {
    font-size: 0.75em;
  }
}
