body {
  font-family: 'Poppins', sans-serif;
  background-color: #d23d3d;

  display: flex;
  justify-content: center;
}

main {
  min-height: 100%;
  min-width: 100%;
  background: url(bg-intro-desktop.png);
  background-blend-mode: color-dodge;
  mix-blend-mode: normal;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 36pt;
  line-height: 54pt;
  margin-top: 0;
  margin-bottom: 0rem;
}

h4 {
  color: white;
  font-weight: 700;
  font-size: 12pt;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;

  margin: 0 -1rem;
  padding: 0 3rem;
}

.description {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 1rem;
}

.sign-up {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.form {
  background: white;
  padding: 1rem 1.4rem 1.2rem;
  border-radius: 0.4rem;
  margin: 2rem auto;
  max-width: 24rem;
  background-color: rgba(255, 255, 255, 1);
}

.form input {
  font-size: 14pt;
  font-weight: 500;
  width: 100%;

  outline: none;
  padding: 0.5rem 0 0.5rem 1rem;
  margin: 0.6rem 0.1rem 0.6rem 0;
  border: 0.1rem solid #dddddd;
  border-radius: 0.4rem;
}

.form input::placeholder {
  color: #929090;
}

.form input:focus {
  border: 0.1rem solid rgb(88, 88, 88);
}

.form input[type='submit'] {
  background: #1f9c77;
  font-weight: 700;
  color: white;
  margin-bottom: 0.5rem;
}

.signout {
  font-size: 16pt;
  background: #1f9c77;
  font-weight: 700;
  color: white;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  border: none;
}

.sign-up__t-and-c {
  color: #929090;
  font-size: 8pt;
  font-weight: 700;
  display: table;
  text-align: center;
}

.sign-up__t-and-c__red {
  color: #d23d3d;
}

.error-hide,
.error-show {
  display: block;
  font-size: 9pt;
  font-weight: 700;
  color: #d23d3d;
  text-align: right;
}

.error-hide {
  display: none;
}

.form-focus-error {
  border: 0.1rem solid rgb(223, 34, 34);
}

@media only screen and (max-device-width: 450px) {
  h1 {
    font-size: 24pt;
    line-height: 36pt;
    text-align: center;
    padding: 0;
  }

  h4 {
    font-size: 12pt;
    text-align: center;
  }

  .container {
    padding: 0 0.5rem;
    margin: 1rem 0;
  }

  .description {
    margin: 1rem 0;
  }

  .sign-up {
    margin: unset;
  }

  .sign-up #t-and-c {
    font-size: 9pt;
  }
}

.signin2 {
  width: 100%;
  max-width: 18rem;
  height: 2.6rem;
  line-height: 2.6rem;
  text-align: center;
  font-size: 14pt;
  font-weight: 700;
  margin: 0 auto;
  color: #fff;
  background: #4359cb;
  border-radius: 0.7rem;
}

.signin2 > img {
  float: left;
  height: 2.6rem;
  width: auto;
  border-radius: 0.7rem 0 0 0.7rem;
}

.sign:hover {
  cursor: pointer;
}
