.admin {
  height: 5rem;
  font-size: 2rem;
  background-color: rgb(230, 229, 229);
  margin-bottom: 0.5rem;
  box-shadow: 0rem 0.2rem rgb(216, 216, 216);
}
.login {
  height: 2rem;
  background-color: rgb(243, 243, 243);
}
fieldset {
  display: grid;
  margin: auto;
  margin-top: 4rem;
  width: 40%;
  height: 50%;
  grid-row-gap: 1rem;
  background-color: white;
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 0.1rem 0.2rem 0.3rem 0.1rem rgb(181, 179, 179);
  border: none;
}
.form-button {
  background-color: rgb(243, 243, 243);
  height: 2rem;
  width: 6rem;
}
em {
  color: red;
}
