body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Product-sans', Arial, Helvetica, sans-serif;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  background: #222;
  color: #ddd;
}

.download-container {
  padding-top: 2em;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.download-btn {
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ddd;
  font-size: large;
  font-weight: 700;
  background: #2390bd;
  margin-top: 2em;
}

.nav-item {
  font-size: 2em;
  padding: 1rem;
}

.nav-item:hover {
  cursor: pointer;
}

.container {
  padding: 2em 10em;
}

.active {
  border-bottom: 5px solid #ddd;
}
