@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.hero {
  display: flex;
  background-image: url('bg-intro-desktop.png');
  background-color: #d23d3d;
  background-blend-mode: normal;
  background-size: cover;
  flex-direction: row;
  height: 100vh;
}

.left {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50vw;
  padding: 5em;
  color: #fff;
}

.left > h1 {
  font-size: 3.125em;
  font-weight: 700;
}

.left > p {
  font-weight: 700;
}

.right {
  max-height: 100vh;
  flex-basis: 50vw;
  padding: 5em;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.google {
  width: 60%;
  height: 3.125em;
  line-height: 3.125em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.google > img {
  float: left;
  height: 3.125em;
  width: auto;
  border-radius: 0.625em 0px 0px 0.625em;
}

.google > div {
  color: #fff;
  background: #4359cb;
  border-radius: 0.625em;
  height: 3.125em;
  line-height: 3.125em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.form {
  width: 70%;
  background: #fff;
  padding: 2em;
  margin-top: 2em;

  border-radius: 0.625em;
}

.form input {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.8em 2em;
  border-radius: 5px;
  border: 1px solid #ac9595;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.form input:focus {
  border: 1px solid #000;
}

.form button {
  width: 100%;
  background: #1f9c77;
  color: #fff;
  margin-bottom: 1em;
  padding: 0.8em 2em;
  border-radius: 5px;
  border: 1px solid #ac9595;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.form p {
  font-size: 0.7em;
  margin: 0;

  font-weight: bold;
}

.terms {
  text-align: center;
  color: #929090;
}

.TC {
  color: #be4534;
}

.customGPlusSignIn {
  width: 60%;
  height: 2.2em;
  line-height: 2.2em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;

  color: #fff;
  background: #4359cb;
  border-radius: 0.625em;
}
.customGPlusSignIn > img {
  float: left;
  height: 2.2em;
  width: auto;
  border-radius: 0.625em 0px 0px 0.625em;
}
.customGPlusSignIn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url('download 1.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 2.625em;
  height: 2.625em;
}
span.buttonText {
  color: #fff;
  background: #4359cb;
  border-radius: 0.625em;

  text-align: center;
  font-size: 0.8em;
  font-weight: 700;
}

.error {
  text-align: right;
  color: #be4534;
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
  .customGPlusSignIn {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    height: unset;
    padding-bottom: 3em;
  }

  .left {
    text-align: center;
    padding: 1em;
  }

  .left > h1 {
    font-size: 2.2em;
  }

  .right {
    padding: 0;
  }

  .form {
    max-width: 100%;
  }

  .customGPlusSignIn {
    width: 90%;
    max-width: 15em;
  }
}
