<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="840915271216-j4v87icspvd2ql6gu6pdhjk0nmb2ibe1.apps.googleusercontent.com"
    />
    <title>Ipl task4</title>
    <link rel="stylesheet" type="text/css" href="task4/style.css" />
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <li class="selected-task" onclick="onClickNavbar(this,1)">
          Matches Played Per Year
        </li>
        <li onclick="onClickNavbar(this,2)">Matches Won Per Team Per Year</li>
        <li onclick="onClickNavbar(this,3)">Extra Runs Conceded</li>
        <li onclick="signOut()">Logout</li>
      </nav>
    </header>
    <main>
      <div class="chart">
        <svg width="700" height="600"></svg>
      </div>
      <div id="container"></div>
      <div class="download-button-wrapper">
        <a
          class="download-button"
          href="../output/matchesPerYear.json"
          download="matchesPerYear.json"
          >Download</a
        >
      </div>
    </main>
    <script src="task4/index.js"></script>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance()
        auth2.signOut().then(function () {
          console.log('User signed out.')
          window.location.href = '/'
        })
      }

      function onLoad() {
        gapi.load('auth2', function () {
          gapi.auth2.init()
        })
      }
    </script>
    <script
      src="https://apis.google.com/js/platform.js?onload=onLoad"
      async
      defer
    ></script>
  </body>
</html>
