body,
html {
  margin: 0;
  padding: 0;
  top: 0;
}
#container {
  height: 100%;
  position: relative;
  width: 100vw;
  background-color: wheat;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  overflow: hidden;
}
#abc {
  height: 1900;
  position: relative;
  width: 100vw;
  background-color: wheat;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.bar {
  fill: steelblue;
}
.taskbar {
  height: 700;
  background-color: #bb8588;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.header {
  background-color: #bb8588;
  height: 40%;
  margin-left: 10%;
  margin-right: 3%;
}
.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 7%;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #4b2840;
}
.btn {
  background-color: grey;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn:hover {
  background-color: lightslategray;
}
