<%- include('head.ejs') %>

<script>
  function startApp() {
    gapi.load('auth2', function () {
      auth2 = gapi.auth2.init({
        client_id:
          '802833536853-1rnn3l43bhp2v6d4ibv9tgg7nec1csj2.apps.googleusercontent.com',
        cookiepolicy: 'single_host_origin'
      })
      attachSignin(document.getElementById('signin2'))
    })
  }

  function attachSignin(element) {
    auth2.attachClickHandler(
      element,
      {},
      function (googleUser) {
        window.location.href = '/signout'
      },

      function (error) {
        console.error(JSON.stringify(error, undefined, 2))
      }
    )
  }

  startApp()
</script>

<script src="validation.js"></script>

<main>
  <div class="container">
    <div class="description">
      <h1>Learn to Code By Watching Others</h1>
      <h4>
        See How Experienced Developers slove Problems in real-time. Watching
        Scripted tutorials is great, but understanding how Developers think is
        invaluable
      </h4>
    </div>

    <div class="sign-up">
      <div id="signin2" class="signin2">
        <img src="download 1.png" />
        <span class="buttonText">Sign in With Google</span>
      </div>

      <div class="form">
        <input type="text" placeholder="First Name" id="firstName" />
        <span class="error-hide" id="firstName-error">
          First Name can't be empty
        </span>

        <input type="text" placeholder="Last Name" id="lastName" />
        <span class="error-hide" id="lastName-error"
          >Last Name can't be empty</span
        >

        <input type="text" placeholder="Email Address" id="email" />
        <span class="error-hide" id="email-error"
          >Looks like this is not an Email</span
        >

        <input type="text" placeholder="Password" id="pwd" />
        <span class="error-hide" id="pwd-error">Passowrd can"t be empty</span>

        <input type="submit" value="Claim your Free Trial" onclick="submit()" />

        <span class="sign-up__t-and-c"
          >By Clicking on the button you re agreeing to
          <span class="sign-up__t-and-c__red">terms and conditions</span>
        </span>
      </div>
    </div>
  </div>
</main>
