<%- include('head.ejs') %>

<script>
  function signOut() {
    gapi.load('auth2', async function () {
      await gapi.auth2.init({
        client_id:
          '802833536853-1rnn3l43bhp2v6d4ibv9tgg7nec1csj2.apps.googleusercontent.com'
      })

      let auth2 = gapi.auth2.getAuthInstance()

      auth2.signOut().then(function () {
        window.location = '/'
      })
    })
  }
</script>

<main>
  <button class="signout" onclick="signOut()">Sign Out</button>
</main>
