.header__root {
  position: fixed;
  z-index: 1;
  width: 99vw;
}

.header {
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
  color: #fafafa;
}

.header__logo {
  display: flex;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__icons {
  background-color: hsla(0, 0%, 100%, 0.3);
  color: #ffffff;
  opacity: 0.7;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0 0.15rem;
  display: flex;
  text-decoration: none;
}

.header__icons:hover {
  background-color: hsla(0, 0%, 13%, 0.3);
}

.header__icons--circle {
  background-color: hsla(0, 0%, 100%, 0.3);
  color: #ffffff;
  border: none;
  border-radius: 26px;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0 0.15rem;
  display: flex;
}

.header__input {
  border: none;
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 3px;
  font-family: 'ubuntu';
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.red {
  background-color: #bf360c;
}

.header__p {
  margin: 0;
  padding: 0;
  margin-left: 0.3rem;
}

.header__icons:hover {
  background-color: hsla(0, 0%, 13%, 0.3);
}

@media only screen and (max-width: 600px) {
  .d-sm {
    display: none;
  }
}
