.search-box {
  border-radius: 4px;
  outline: none;
  border: none;
  color: #fafafa;
  font-family: 'ubuntu';
  font-size: 1rem;
  padding: 0.5rem;
  margin-left: 0.2rem;
  background-color: #212121;
  opacity: 0.5;
}
