.todo-wrapper {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.container {
  width: 80%;
}
.todo-input {
  width: 100%;
  padding: 0.2em 1em;
  margin: 2em 0;
}

.todo {
  width: 100%;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.todo:hover {
  background-color: rgb(106, 177, 248);
  color: #fff;
}

.todo-text {
  padding-left: 0.6em;
  display: inline;
}

.todo-completed {
  text-decoration: line-through;
  color: #666;
}

.todo-actions > div {
  display: inline;
  padding: 0 0.5em;
  margin: 0 0.5em;
  cursor: pointer;
}

.hidden {
  display: none;
}

.todo-edit-input {
  margin-left: 1em;
  width: 70%;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 40%;
  }
}
