body {
  font-family: 'Poppins', sans-serif;
  padding: 4rem 2rem;
  color: #5c5b6a;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1.2rem;
}

.title {
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.heading2 {
  font-weight: 600;
}

.title-body {
  font-weight: 400;
  font-size: 0.8rem;
  color: hsl(0, 0%, 55%);
  max-width: 28rem;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
}

.block {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1rem;
  width: 17rem;
  height: 10em;
  -moz-box-shadow: 0px 10px 10px 3px hsl(0, 0%, 88%);
  -webkit-box-shadow: 0px 10px 10px 3px hsl(0, 0%, 88%);
  box-shadow: 0px 10px 10px 3px hsl(0, 0%, 88%);
  border-top: 4px solid;
  border-radius: 5px 5px 5px 5px;
}

.block-supervisor {
  margin-bottom: 1.5rem;
  font-weight: 400;
  border-color: hsl(180, 62%, 55%);
}

.block-middle {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-builder {
  margin-bottom: 1.5rem;
  border-color: hsl(0, 78%, 62%);
}

.block-karma {
  border-color: hsl(34, 97%, 64%);
}

.block-calculator {
  border-color: hsl(212, 86%, 64%);
}

.block-heading {
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 0.5rem;
}

.block-body {
  font-size: 0.7rem;
  color: hsl(0, 0%, 55%);
}

.block-image {
  align-self: flex-end;
  position: absolute;
  padding-top: 6rem;
  margin-right: 0;
}

.block-image > img {
  width: 3rem;
  height: auto;
}

@media only screen and (min-width: 1000px) {
  main {
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .block-supervisor {
    margin-right: 1.5rem;
  }
  .block-middle {
    margin-right: 1.5rem;
  }
}
