body {
  background-color: #191414;
  color: white;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1em;
}

button {
  background-color: inherit;
  color: inherit;
  display: inline-block;
  padding: 0.2em 1em;
  border: 0.11em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}

.d3 {
  display: block;
  max-width: 45em;
  margin: 0 auto;
}

.selected {
  background-color: #ffffff;
  color: #000000;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

#container {
  align-items: center;
}
