.text--center {
  text-align: center;
}

.list__container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading__div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  background-color: #fafafa;
  background-image: url('../assets/Ripple-1s-200px.svg');
  background-size: contain;
  height: 5rem;
  width: 5rem;
}

.error {
  height: 100vh;
  width: 100vw;
  color: #fafafa;
  background-color: #bf360c;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
  color: #fafafa;
}

.root__board {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  min-height: 100vh;
  padding-top: 2.5rem;
}

.add-board__card {
  margin: 1rem;
  padding: 0.5rem;
}

.card {
  position: relative;
  border-radius: 2px;
  padding: 0.5rem;
  min-height: 1.2rem;
  padding-right: 1.2rem;
  margin: 0.7rem 0;
  background-color: #eeeeee;
  border: 0 0 2px #bdbdbd;
  box-shadow: 0 2px 2px #bdbdbd;
}

.card:hover {
  background-color: #e0e0e0;
}

.close-button {
  position: absolute;
  right: 5px;
  top: 10px;
  border: none;
  background: transparent;
}

.close-button:hover {
  color: #bf360c;
}

.list {
  position: relative;
  background-color: #fafafa;
  width: 18rem;
  min-width: 18rem;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
}

.add-list {
  background-color: #e0e0e0;
  width: 18rem;
  min-width: 18rem;
  height: max-content;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
}

.card__container {
  max-height: 70vh;
  overflow-y: scroll;
}

.add-card {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding-top: 0.3rem;
  line-height: 24px;
  font-size: 1rem;
  font-family: 'ubuntu';
  text-align: left;
}

.add-card:hover {
  color: #006064;
}

.custom-input {
  border: 1px solid #eeeeee;
  background-color: #bdbdbd;
  border-radius: 2px;
  font-family: 'ubuntu';
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.add-card__button {
  padding: 0.6rem;
  font-family: 'ubuntu';
  color: #fafafa;
  font-weight: bold;
  background-color: #43a047;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 4px #388e3c;
}

.cancel {
  border: none;
  font-family: 'ubuntu';
  font-weight: bold;
  color: #fafafa;
  background-color: #bf360c;
  padding: 0.6rem;
  margin: 0 0.5rem;
  border-radius: 2px;
  box-shadow: 0 0 4px #ff6e40;
}

.card__container::-webkit-scrollbar,
.list__container::-webkit-scrollbar {
  display: none;
}

.list__title {
  font-weight: bold;
  font-size: 1.2rem;
}

.board {
  background-color: #757575;
  position: relative;
  background-size: cover;
  width: 9rem;
  height: 4.5rem;
  border-radius: 2px;
  color: #fafafa;
  padding: 1rem;
  padding-right: 2rem;
  margin: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.margin--start {
  margin-left: 1rem;
}

.board-edit-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.board__link {
  color: #fafafa;
  text-decoration: none;
}

.board:hover {
  opacity: 0.8;
}

.text {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.red {
  background-color: #bf360c;
}

.alert {
  background-image: url('../assets/exclamation-circle-solid.svg');
  color: #fdd835;
  background-size: contain;
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .d-sm {
    display: none;
  }

  .board {
    width: 7rem;
  }

  .board__container {
    justify-content: center;
  }
}

.opacity-1 {
  opacity: 1;
}

.p-1 {
  padding: 0.5rem 1rem;
}

.font--lg {
  font-size: 1.5rem;
}

.flex__row {
  display: flex;
}
