.list {
  color: #f5deb3;
  width: 300px;
  background-color: #ce80d8;
  height: 50px;
  margin: 20px;
  border-radius: 5px;
}

.list p {
  padding: 10px;
  position: relative;
}

.list p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.faicons {
  margin: 0;
  font-size: 15px;
}

.list p input {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 18px;
}
.list p input:focus {
  outline: none;
}
