.navbar {
  background-color: #026aa7;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.2em 1em;
}

.navbar-heading {
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.navbar-left {
  display: flex;
}

.navbar-item {
  background-color: hsla(0, 0%, 100%, 0.3);
  padding: 0.5em;
  margin: 0.1em 0.5em;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.navbar-search {
  position: relative;
  margin: 0.1em 0.5em;
  width: 10em;
}

.navbar-search > input {
  width: 100%;
}

.navbar-search > svg {
  position: absolute;
  right: 0.3em;
  color: #026aa7;
  font-size: 1.2em;
  top: 0.3em;
}
