body {
  background-color: #d23d3d;
}

.container {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/bg.png');
  background-blend-mode: color-dodge;
  mix-blend-mode: normal;
}
.left {
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
  justify-content: center;
}
.leftUpper {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.leftLower {
  margin-right: 3rem;
  font-size: 0.8rem;
  text-align: justify;
  font-weight: bold;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.right {
  justify-content: center;
  align-items: center;
}
.rightUpper {
  margin-left: 4rem;
}
.wrapper {
  padding-top: 2rem;
  margin-top: 1.8rem;
  max-width: 35.4375rem;
  width: 90vw;
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0.8125rem;
  margin-left: 0.7rem;
}
input[type='text'] {
  padding-left: 0.625rem;
  max-width: 31.5rem;
  text-align: start;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 80vw;
  height: 5vh;
  margin-bottom: 0.5rem;
  background: #ffffff;
  border: 1px solid #ac9595;
  box-sizing: border-box;
  border-radius: 0.375rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

input[type='password'] {
  padding-left: 10px;
  max-width: 31.5rem;
  text-align: start;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 80vw;
  height: 5vh;
  margin-bottom: 0.5rem;
  background: #ffffff;
  border: 1px solid #ac9595;
  box-sizing: border-box;
  border-radius: 0.375rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

input[type='submit'] {
  max-width: 31.5rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 80vw;
  height: 5vh;
  background: #1f9c77;
  border: 1px solid #198431;
  color: white;
  font-size: 1.5rem;
  box-sizing: border-box;
  border-radius: 6px;
}

.conditions {
  color: #d23d3d;
}
.error {
  display: flex;
  justify-content: end;
  font-size: 0.6rem;
  margin-right: 1.2rem;
  color: #d23d3d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
}
.error p {
  margin-left: 2rem;
}

#terms {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 21px;
  margin-left: 2.5rem;
  margin-right: 1rem;
  color: #929090;
}

@media only screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
  }
  .wrapper {
    margin-right: 2rem;
  }
  .left {
    margin-top: 8rem;
  }
  .leftUpper {
    font-size: 3.125rem;
  }
  .rightUpper {
    margin-top: 8rem;
    margin-left: 10rem;
  }
  .leftLower {
    font-size: 1.25rem;
    margin-right: 10rem;
  }
  .rightLower {
    margin-right: 10rem;
  }
  .signUpBtn {
    margin-left: 5rem;
    margin-top: 7rem;
  }
  input[type='text'] {
    margin-left: 1.7rem;
  }
  input[type='password'] {
    margin-left: 1.7rem;
  }
  input[type='submit'] {
    margin-left: 1.7rem;
  }
  .signIn {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 750px) {
  .signUpBtn {
    margin-left: 5rem;
    margin-top: 7rem;
  }
  .right {
    margin-left: 4rem;
  }
  .left {
    margin-left: 4rem;
  }
  .leftUpper {
    font-size: 3.125rem;
  }
  .leftLower {
    font-size: 1.25rem;
    margin-right: 10rem;
  }
  .signIn {
    font-size: 1.25rem;
  }
  .rightUpper {
    margin-left: 10rem;
  }
}
