.card {
  position: relative;
  border-radius: 2px;
  padding: 0.5rem;
  min-height: 1.2rem;
  padding-right: 1.2rem;
  margin: 0.7rem 0;
  background-color: #eeeeee;
  border: 0 0 2px #bdbdbd;
  box-shadow: 0 2px 2px #bdbdbd;
}

.card:hover {
  background-color: #e0e0e0;
}

.close-button {
  position: absolute;
  right: 5px;
  top: 10px;
  border: none;
  background: transparent;
}

.close-button:hover {
  color: #bf360c;
}

.card__container {
  max-height: 70vh;
  overflow-y: scroll;
}

.add-card {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding-top: 0.3rem;
  line-height: 24px;
  font-size: 1rem;
  font-family: 'ubuntu';
  text-align: left;
}

.add-card:hover {
  color: #006064;
}

.custom-input {
  border: 1px solid #eeeeee;
  background-color: #bdbdbd;
  border-radius: 2px;
  font-family: 'ubuntu';
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.add-card__button {
  padding: 0.6rem;
  font-family: 'ubuntu';
  color: #fafafa;
  font-weight: bold;
  background-color: #43a047;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 4px #388e3c;
}

.cancel {
  border: none;
  font-family: 'ubuntu';
  font-weight: bold;
  color: #fafafa;
  background-color: #bf360c;
  padding: 0.6rem;
  margin: 0 0.5rem;
  border-radius: 2px;
  box-shadow: 0 0 4px #ff6e40;
}

.card__container::-webkit-scrollbar,
.list__container::-webkit-scrollbar {
  display: none;
}
