<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="174759250934-o85m27233rp9t9b5pje2c1nbr6p0hd5c.apps.googleusercontent.com"
    />
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <title>Task - 4</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <nav>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <h1 class="logo">Task -4</h1>
      <ul class="nav-links">
        <li>
          <a href="#" id="sub1btn">SubTask -1</a>
          <a href="#one" id="sub2btn">SubTask -2</a>
          <a href="#two" id="sub3btn">Subtask -3 </a>
          <a href="#four" id="logout" onClick="signOut()">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="plots" id="svg">
      <svg class="svg" width="100%" height="600"></svg>
      <div id="container" name="container" class="container"></div>
      <div class="tooltip"></div>
    </div>
    <div class="center">
      <a
        href="../task-3-IPL(Part-1)/output/totalMatchesPerYear.json"
        id="downLoad"
        ><button class="button" id="downloadBtn">Download Data</button></a
      >
    </div>
    <script>
      function onLoad() {
        gapi.load('auth2', function () {
          gapi.auth2.init()
        })
      }
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance()
        auth2.signOut().then(function () {
          window.location.href = '/'
          console.log('User signed out.')
        })
      }
    </script>
    <script src="./generatingPlots.js"></script>
    <script
      src="https://apis.google.com/js/platform.js?onload=onLoad"
      async
      defer
    ></script>
  </body>
</html>
