<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="google-signin-client_id" content="174759250934-o85m27233rp9t9b5pje2c1nbr6p0hd5c.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="css/index.css" />
    <title>Task - 5</title>
    
  </head>
  <body>
    <div class="container">
      <div class="left">
        <div class="leftUpper">
          <p>
            Learn to code By<br />
            Watching others
          </p>
        </div>
        <div class="leftLower">
          <p>
            See How Experienced Developers solve Problems in real-time.
            Watching Scripted tutorials is great, but understanding how
            Developers think is invaluable
          </p>
        </div>
      </div>
      <div class="right">
        <div class="rightUpper">
        <div id="my-signin2"></div>
        </div>
        <div class="rightLower">
          <div class="wrapper">
            <form name="signUpForFree" action='/dashboard' onSubmit="return validation()">
              
              <input type="text" id="fname" name="fName" placeholder="First Name"/><br />
              <span class="error"><p id="firstNameError"></p></span>
              <input type="text" id="lName" name="lName" placeholder="Last Name"/>
              <span class="error"><p id="lastNameError"></p></span>
              <input type="text" id="email" name="email" placeholder="E-mail"/><br />
              <span class="error"><p id="emailError"></p></span>
              <input type="password" id="password" name="password" placeholder ="Password"/>
              <span class="error"><p id="passwordError"></p></span>
              <input type="submit" id="submit" name="submitBtn" value="Claim your free trial" ></input>
            </form>
            <p id = "terms">By Clicking on the button you re agreeing to <span class='conditions'>terms and conditions</span></p>
          </div>
        </div>
      </div>
    </div>
    <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
      window.location.href = '/dashboard'
    }
    function onFailure(error) {
      console.error;
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
    
    </script>
    <script src='js/validation.js'></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

  </body>
</html>
