<html>
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <meta
      name="google-signin-client_id"
      content="926032233368-cfqo8qe8umquh49npp85uu5tsujvdb3c.apps.googleusercontent.com"
    />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

      body {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        background-image: url('bg-intro-desktop.png');
        background-color: #d23d3d;
        background-blend-mode: normal;
        background-size: cover;
      }
      .signout {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .signout a {
        text-decoration: none;
        color: #fff;
        padding: 1em 2em;
        background: #1f9c77;
        font-weight: 700;
        font-size: 1em;
      }
      .signout p {
        color: #fff;
        font-size: 2em;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <div class="signout">
      <p>You are signed in</p>
      <a href="#" onclick="signOut();">Sign out</a>
    </div>

    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance()
        auth2.signOut().then(function () {
          console.log('User signed out.')
          window.location.href = '/'
        })
      }

      function onLoad() {
        gapi.load('auth2', function () {
          gapi.auth2.init()
        })
      }
    </script>
    <script
      src="https://apis.google.com/js/platform.js?onload=onLoad"
      async
      defer
    ></script>
  </body>
</html>
