<html>
  <head>
    <link rel="stylesheet" type="text/css" href="login.css" />
    <script src="validation.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      var googleUser = {}
      var startApp = function () {
        gapi.load('auth2', function () {
          // Retrieve the singleton for the GoogleAuth library and set up the client.
          auth2 = gapi.auth2.init({
            client_id:
              '926032233368-cfqo8qe8umquh49npp85uu5tsujvdb3c.apps.googleusercontent.com',
            cookiepolicy: 'single_host_origin'
            // Request scopes in addition to 'profile' and 'email'
            //scope: 'additional_scope'
          })
          attachSignin(document.getElementById('customBtn'))
        })
      }

      function attachSignin(element) {
        auth2.attachClickHandler(
          element,
          {},
          function (googleUser) {
            document.getElementById('name').innerText =
              'Signed in: ' + googleUser.getBasicProfile().getName()
            window.location.href = '/dashboard'
          },

          function (error) {
            console.error(JSON.stringify(error, undefined, 2))
          }
        )
      }
    </script>
    <style type="text/css"></style>
  </head>
  <body>
    <div class="hero">
      <div class="left">
        <h1>Learn to Code By Watching Others</h1>
        <p>
          See How Experienced Developers solve Problems in real-time. Watching
          Scripted tutorials is great, but understanding how Developers think is
          invaluable
        </p>
      </div>

      <div class="right">
        <div id="customBtn" class="customGPlusSignIn">
          <img src="download 1.png" />
          <span class="buttonText">Sign in With Google</span>
        </div>

        <div id="name"></div>
        <script>
          startApp()
        </script>
        <div class="form">
          <form onsubmit="return validate(event)" name="form">
            <input type="text" placeholder="First Name" name="fname" />
            <p class="error" id="fname-error"></p>

            <input type="text" placeholder="Last Name" name="lname" />
            <p class="error" id="lname-error"></p>

            <input type="text" placeholder="Email Address" name="email" />
            <p class="error" id="email-error"></p>

            <input type="password" placeholder="Password" name="pass" />
            <p class="error" id="pass-error"></p>

            <button type="submit" value="submit">Claim your Free Trial</button>
            <p class="terms">
              By Clicking on the button you are agreeing to
              <span class="TC">terms and conditions</span>
            </p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
