* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
  font-size: 0.8em;
}
nav {
  background-color: #fff;
  padding: 0 1em;
  display: flex;
  justify-content: center;
}

nav > li {
  list-style-type: none;
  padding: 1em;
  cursor: pointer;
  margin: 0 0.5em;
  font-size: 1em;
}

.selected-task {
  border-bottom: 2px solid #333;
  font-weight: bold;
}

.chart {
  display: flex;
  justify-content: center;
}

.charts > svg {
  width: 100%;

  max-width: 800px;
}

.bar {
  fill: rgb(155, 237, 100);
}

.bar:hover {
  fill: pink;
}

.hidden {
  display: none;
}

.download-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-button {
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-decoration: none;
  border: 2px solid dodgerblue;
  border-radius: 8px;
  color: dodgerblue;
}

.download-button:hover {
  background-color: dodgerblue;
  color: #fff;
}

.svg-heading {
  font-size: 1em;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 1em;
  }
  .svg-heading {
    font-size: 1.5em;
  }
}

svg {
  width: 90%;
  height: 500px;
}
.xLables {
  z-index: 100;
  font-size: 10px;
  color: brown;
}
@media only screen and (max-width: 600px) {
  .xLables {
    font-size: 5px;
  }
}
