* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: montserrat;
  background-color: white;
}
nav {
  display: flex;
  justify-content: space-around;

  align-items: center;
  min-height: 8vh;
  width: 100%;
  background: #5d4954;
}
nav-links {
  margin-left: 3em;
  margin-right: 3em;
}
nav li {
  display: inline-flexbox;
  margin: 0 8px;
  justify-content: space-around;
  width: 100%;
  line-height: 80px;
}

nav a {
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  letter-spacing: 5px;
  border: 1px solid rgb(92, 92, 134);
  padding: 10px 20px;
  border-radius: 3px;
}
a.active,
a:hover {
  border: 1px solid wheat;
  transition: 0.5s;
}

text {
  font-family: sans-serif;
  font-size: 0.6vh;
  font-weight: bold;
}

.bar {
  fill: wheat;
}

.bar:hover {
  fill: #5d4954;
}

#container {
  height: 40rem;
  width: 100%;
  display: none;
  position: relative;
  z-index: -1;
}
.plots {
  margin-top: 1rem;
}
.button {
  background-color: #5d4954; /* Green */
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
  background-color: whitesmoke; /* Green */
  color: #5d4954;
  border: 2px solid #5d4954;
  transition: 0.5ms ease-in-out;
}
.center {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
}
.burger {
  display: none;
}
.logo {
  display: none;
}
@media (max-width: 480px) {
  .burger {
    display: block;
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .logo {
    display: block;
    color: whitesmoke;
    font-family: sans-serif;
    margin-right: 10.5rem;
  }
  .body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    left: 0px;
    margin-left: 0;
    top: 8vh;
    width: 50vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5d4954;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    margin-left: 1.5rem;
    opacity: 1;
  }
  .nav-active {
    transform: translate(0%);
  }
  .nav-links a {
    font-size: 0.7rem;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
