* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d23d3d;
}

.login-section {
  background: url('../assets/bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-blend-mode: color-dodge;
  mix-blend-mode: normal;
}

.left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 2em;
}

.left-top {
  width: 100%;
  margin-bottom: 1em;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
}

.left-bottom {
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
}

.right {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 2em;
}

.right-top {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.8em;
  color: #fff;
  /* background-color: #4359cb; */
  border: none;
  border-radius: 0.4em;
  display: flex;
  justify-content: center;
}

.right-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  background-color: #fff;
  border-radius: 0.5em;
}

.form-input {
  width: 100%;
  padding: 0.8em;
  margin: 0.8em;
  border-radius: 0.4em;
  border: 1px solid #333;
}

.form-button {
  background-color: #1f9c77;
  color: #fff;
  width: 100%;
  margin: 0.8em;
  padding: 0.8em;
  border-radius: 0.4em;
  border: none;
  font-weight: bold;
}
.error {
  font-size: 0.8em;
  margin-top: -0.5em;
  text-align: right;
  width: inherit;
  margin-right: 0.8em;
}
.form-terms {
  color: #929090;
  font-size: 0.7em;
  padding: 0 0.8em;
}
.highlight {
  color: #d23d3d;
}

@media only screen and (min-width: 600px) {
  .login-section {
    flex-wrap: nowrap;
  }
  .left {
    width: 40%;
  }
  .right {
    width: 60%;
    max-width: 500px;
  }
  .left-top,
  .left-bottom {
    text-align: start;
  }
}

@media only screen and (min-width: 1000px) {
  .login-section {
    padding: 0 3em;
  }
  .left,
  .right {
    width: 49%;
  }
}
